asgiref==3.2.3
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Django==3.0
docopt==0.6.2
idna==2.8
pipreqs==0.4.10
psycopg2==2.8.4
public==2019.4.13
pytz==2019.3
requests==2.22.0
requirements-generator==2019.4.13
soupsieve==1.9.5
sqlparse==0.3.0
urllib3==1.25.8
virtualenv==16.7.7
yarg==0.1.9
